<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Editar Drone</title>
</head>

<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="d-flex justify-content-between"> Editar
            <a th:href="@{/drone}" class="btn btn-danger float-end">Voltar</a>
          </h4>
        </div>
        <div class="card-body">
          <form action="#" th:action="@{/drone/update}" th:object="${drone}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
              <label>Modelo:</label>
              <input type="text" class="form-control" th:field="*{modelo}" id="modelo">
            </div>
            <div class="mb-3">
              <label>Número de série:</label>
              <input type="number" min="0" class="form-control" th:field="*{numeroSerie}"
                     id="numeroSerie">
            </div>
            <div class="mb-3">
              <label>Número da licença</label>
              <select class="form-control" th:field="*{numeroLicenca}" id="numeroLicenca">
                <option value="0">Selecione</option>
                <option th:each="licenca : ${licencas}" th:value="${licenca.getNumeroLicenca()}" th:text="${licenca.getNumeroLicenca()}"></option>
              </select>
            </div>
            <div class="mb-3">
              <label>Data da compra:</label>
              <input type="date" class="form-control" th:field="*{dataCompra}"
                     id="dataCompra">
            </div>
            <div class="mb-3">
              <label>Horas totais de voos:</label>
              <input type="number" min="0" class="form-control" th:field="*{horasTotalVoo}"
                     id="horasTotalVoo">
            </div>
            <div class="mb-3">
              <label>Capacidade da bateria (h):</label>
              <input type="number" min="0" class="form-control" th:field="*{capacidadeBateria}"
                     id="capacidadeBateria">
            </div>
            <div class="mb-3">
              <label>Capacidade da carga (g):</label>
              <input type="number" min="0" class="form-control"
                     th:field="*{capacidadeCarga}" id="capacidadeCarga">
            </div>

            <div class="mb-3">
              <input type="submit" class="btn btn-primary" value="Salvar"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>